<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Smart.Analyzers.JapaneseComment Rules" Description="Smart.Analyzers.JapaneseComment Rules" ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
  </Rules>
</RuleSet>